*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.encabezado .titulo {
    font-weight: 600;
    font-size: 24px;
    padding: 0px;
    margin: 10px 40px;
}
.encabezado .subtitulo{
    padding: 0px;
    margin: 15px 40px ;
}
/* Estilos de la galeria*/
.contenedor-galeria{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 225px;
    padding: 0px;
    margin: 0px 40px;
    grid-gap: 10px;
    -webkit-tap-highlight-color: transparent;
}
.galeria-img{
    width: 100%;
    height: 215x;
    object-fit: cover;

}
.item-galeria:nth-child(1){
    grid-column-start: span 2;
    grid-row-start: span 2 ;
}
/* Borde redondeado*/
#img1{
 border-top-left-radius: 10px;
 border-bottom-left-radius: 10px;
}
#img3{
    border-top-right-radius: 10px;
}
#img5{
    border-bottom-right-radius: 10px;
}
.galeria-img:hover{
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
}

/* Botón ver más fotos*/
.btn_ver{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: -170px;
    left: 1100px;    
    display: block;
    height: 47px;
    width: 130px;
    border-radius: 15px;
    color: white;
    font-size: 16px;
    overflow: hidden;
    transition: all 500ms ease;
    border: 2px solid white;
    background-color: transparent;
    cursor: pointer;
}

/* Contenedor de Botones fotos y planos*/
.btn_contenedor{
    position: relative;
    top: -30px;
    left: 100px;    
    display: block;
    height: 45px;
    width: 150px;
    transition: all 500ms ease;
    
    background-color: white;
    text-align: center;
    border-radius: 13px;
    padding: 10px 0px;
    box-shadow: 2px 2px 5px #999;
    
    
}
.btn_camara {
    outline: none;
    border: 0px;
    background: none;
    padding: 0px;
    cursor: pointer;
    
    color: lightslategray;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    overflow: hidden;
 

}
.linea{
    border-right: 1px solid #cbd6dc;
    height: 22px;
}
.btn_planos{
    outline: none;
    border: 0px;
    background: none;
    padding: 0px;
    color: lightslategray;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    overflow: hidden;
 
   
}
.btn_planos:hover{
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
}
.btn_camara:hover{
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
}

.contacto_contenedor{
    height: 2754.11px;
    position: relative;
}


/* Formulario*/
.precio{
    width: 410px;
    height: 580px;
    position: relative;
    top: -45px;
    left: 890px;
    background: rgba(243,246,249,255);
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#desde , #precio{
    margin: 10px 0 0;
}
input, textarea{
    margin-bottom: 20px;
    padding: 13px;
    border-radius: 8px;
    border-color: rgba(136,148,155,255);
}
.email{
    width: 100%;
}
.nombre{
    width: 49%;
}
.cell{
    width: 49%;
}
.checkbox{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;

}
.contactar{
    width: 100%;
    background: rgba(255,84,1,255);
    color: white;
    font-size: 15px;
    border: 0px; 
    margin: 0% 0 2%;
    margin-bottom: 20px;
    padding: 13px;
    border-radius: 8px;
    border-color: rgba(136,148,155,255);
}
.ws{
    width: 100%;
    background: rgba(39,210,103,255);
    color: white;
    font-size: 15px;
    border: none;
    margin-bottom: 20px;
    padding: 13px;
    border-radius: 8px;
    border-color: rgba(136,148,155,255);
    margin: 0% 0 3%;
}
.mensaje{
    min-height: 100px;
    max-height: 100px;
    max-width: 370px;
    min-width: 370px;
}
.contactar:hover{
    cursor: pointer;
}
.ws:hover{
    cursor: pointer;
}
#aviso{
    font-size: 12px;
    margin: 0%;
}

/* Menú de navegación*/
.contenedor_menu{
    position: relative;
    top: -620px;
    left: 3%;
    width: 840px;
    height: 20px;
    margin: 0% 0% 0% 0%;
}

.menu_contenido a{
    margin: 0%;
    padding: 0%;
    color: #5f6d72;
    text-decoration: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;   
}

.menu_contenido .sense{
    color: black;
}

.menu_separador{
    font-family: Arial, Helvetica, sans-serif;
}

/* Contenedor de figuras*/
.contenedor_nf{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 0;
    position: relative;
    top: -565px;
    left: 3%;
    width: 840px;
    height: 20px;
    font-size: 14px;
    color: #5f6d72;
}
.contenedor_nf .item{
    margin: 18px;
    
}

.container_et{
    grid-column: 2/4;
    grid-row: 1;
    border-top: unset;
    border-left: 1px solid #cbd6dc;
    display: flex;
    align-items: center;
    padding: 20px 16px;
    margin: 0;
    width: 830px;
    height: 120px;
    position: relative;
    top: -470px;
    /*border: 2px solid lavender;*/
    left: 40px;
    border-radius: 10px;
    font-size: 14px;
    box-shadow: 2px 2px 5px #999;
    border-left: 9px solid #3a0c3d;
    

}

.icon{
    width: 250px;
    height: 10px;
}
.etapa{
    width: 210px;
    height: 50px;
}
.descripcion_hidden{
    right: px;
}
.container_et .descripcion_hidden{
    font-size: 14px;
    padding: 0% 16px;
}

.contenedor_seccion{
    position: relative;
    top: -450px;
    left: 40px;
}
.contenedor_seccion ,p {
    font-size: 17px;
}
.seccion_promo{
    font-size: 15px;
}

.btn_vermas{
    font-family: Arial, Helvetica, sans-serif;
    background: none;
    border: none;
    color: rgba(255,84,1,255);
    font-size: 15px;
    padding: 1% 0%;
    font-weight: 700;
}


/*Unidades*/

.unidades{
    padding: 0% 4%;
    position: relative;
    top: -450px;
}
.depa2{
    width: 830px;
    height: 65px;
    position: relative;
    top: -450px;
    background: rgba(243,246,249,255);
    padding: 1px ;
    box-sizing: border-box;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0% 4%;
}

.dep2{
    margin: 1%;
}

.depa2 p{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0% 1%;
    font-size: 13px;
    color: #5f6d72;
}
.depa3{

    width: 830px;
    height: 65px;
    position: relative;
    top: -450px;
    background: rgba(243,246,249,255);
    padding: 1px ;
    box-sizing: border-box;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1% 4%;
}
.depa3 p{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0% 1%;
    font-size: 13px;
    color: #5f6d72;

}
.dep3{
    margin: 1%;
}

/* Ubicación*/
.ubicacion{
    color: #5f6d72;
    font-size: 10px;
    position: relative;
    top: -450px;
    margin: 50px;
}

.btn_res{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: -480px;
    left: 60px;    
    display: block;
    height: 47px;
    width: 160px;
    border-radius: 20px;
    color: black;
    font-size: 16px;
    overflow: hidden;
    transition: all 500ms ease;
    border: 2px solid  #5f6d72;
    background-color: transparent;
    cursor: pointer;
}
.btn_ser{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: -525px;
    left: 240px;    
    display: block;
    height: 47px;
    width: 140px;
    border-radius: 20px;
    color: black;
    font-size: 16px;
    overflow: hidden;
    transition: all 500ms ease;
    border: 2px solid  #5f6d72;
    background-color: transparent;
    cursor: pointer;
}
.btn_esc{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: -570px;
    left: 400px;    
    display: block;
    height: 47px;
    width: 130px;
    border-radius: 20px;
    color: black;
    font-size: 16px;
    overflow: hidden;
    transition: all 500ms ease;
    border: 2px solid  #5f6d72;
    background-color: transparent;
    cursor: pointer;
}
.mapa{
    position: relative;
    top: -550px;
    left: 50px; 
}


@media (max-width: 480px){
    form{
        width: 100px;
    }
    .contenedor-galeria{
        width: 100px;
    }
    
}